* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefdec;
    min-width: 350px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    gap: 0.625rem;
    box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

header>img {
    height: 4.375rem;
}

header>h1 {
    font-family: cursive;
    font-size: 1.875rem;
}

main {
    max-width: 37.5rem;
    margin: 5.625rem auto 0 auto;
    border: 0.00625rem solid transparent;
}

.add-ingred-form {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2.5rem 0;
    /* height: 2.5rem; */
    gap: 0.625rem;
}

.add-ingred-form>input {
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4375rem;
    height: 2.5rem;
    width: 55%;
    padding-left: 0.625rem;
    font-size: 1.1rem;
}

.add-ingred-form>input:focus {
    outline: none;
    border: 0.125rem solid rgba(0, 0, 0, 0.5);
}

.add-ingred-form>button {
    background-color: #040403;
    color: white;
    height: 2.5rem;
    font-size: 1rem;
    border: 0;
    border-radius: 0.4375rem;
    padding: 0 0.625rem;
}

.add-ingred-error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.3125rem;
    text-align: center;
    width: 100%;
}

#ingred-list-container {
    padding-left: 5rem;
}

#ingred-list-heading {
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
}

#ingred-list {
    list-style: none;
}

#ingred-list li {
    margin-bottom: 0.4375rem;
}

#ingred-list li::before {
    content: "👉 ";
}

#create-recipe-container {
    margin: 2.5rem 0.625rem;
    padding: 0rem 0.625rem;
    display: flex;
    min-height: 6.25rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #0000001f;
    border-radius: 1.25rem;
}

#create-recipe-large-text {
    font-size: 1.125rem;
    font-weight: 500;
    color: #000000af
}

.create-recipe-button {
    border: 0;
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;
    background-color: #cf784f;
    color: white;
}

.loading {
    display: inline-block;
    height: 1.5625rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.25rem solid #000000;
    border-right: 0.25rem solid #0000005f;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.loading-message {
    font-size: 1.5rem;
}

.error-message {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 1.1em;
}

.error-message {
    color: red;
}

.info-message {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 1.1em;
    color: #555;
}

@media (max-width: 450px) {
    .add-ingred-form {
        flex-wrap: wrap;
    }

    .add-ingred-form input {
        width: 90%;
    }

    .add-ingred-form button {
        margin-left: 0 auto;
    }

    #create-recipe-container {
        margin: 2.5rem 0.625rem;
        padding: 0.5rem 1rem;
        gap: 0rem;
    }
}
